body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.episodes-list {
    list-style: none;
    padding: 0.5em;
}

li.episode-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    border-top: 4px solid orange;
}

li.episode-container:hover {
    background-color: #eee;
}

.channel {
    
    display: inline-block;
    margin: 0.5em 0;
}

.date {
    color: #aaa;
    font-size: 0.75em;
    display: inline-block;
    margin: 0 1em;
}

.channel-link {
    color: #555;
    text-decoration: none;
}

.channel-link:hover {
    text-decoration: underline;
}

.link {
    font-style: italic;
    font-size: 0.9em;
    display: block;
}

.see-more {
    font-size: 0.9em;
    display: block;
    color: #555;
    text-decoration: none;
    text-align: center;
}

.header {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    background-color: #eee;
}

.menu > li {
    display: inline-block;
}