body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul.episodes-list {
    list-style: none;
    padding: 0.5em;
}

li.episode-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    border-top: 4px solid orange;
}

.channel-title {
    display: inline-block;
    margin: 0.5em 0;
}

.date {
    color: #aaa;
    font-size: 0.75em;
    display: inline-block;
    margin: 0 1em;
}

.channel-link {
    color: #555;
    text-decoration: none;
}

.channel-link:hover {
    text-decoration: underline;
}

.episode-link {
    color: #555;
}

.filters-button {
    font-size: 0.6rem;
}

.link {
    font-size: 0.9em;
    display: block;
}

.btn {
    background: #eee;
    padding: 0.5em;
    display: inline-block;
    margin: 0.3em;
    text-decoration: none;
    box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.45);
}

.btn.flush {
    background-color: inherit;
    box-shadow: none;
}

.btn:hover {
    box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.45);
    background: #ddd;
}

.floating-menu .btn {
    background-color: inherit;
    box-shadow: none;
}

.floating-menu .btn:hover {
    box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.45);
    background: #5F5F5F;
}

.see-more {
    font-size: 0.9em;
    display: block;
    color: #555;
    text-decoration: none;
    text-align: center;
}

.header, .main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: rgba(123, 123, 123, 0.12);
    padding: 0.2em 1em;
}

.menu > li {
    display: inline-block;
}

.channel-image {
    margin: 1em;
}

.channel-image > img {
    max-width: 100%;
    max-height: 100%;
    border: 1px black solid
}

.channel-image.small {
    width: 100px;
    height: 100px;
    float: left;
}

.channel-image.medium {
    max-height: 145px;
}

.channel-image.main {
    float: none;
    max-width: 500px;
    max-height: 500px;
    margin-left:auto;
    margin-right: auto;
}

.channel {
    max-width:940px;
    margin-left: auto;
    margin-right: auto;
}

.channel > h2, .channel > h3 {
    text-align:center
}

ul.channels-mosaic {
    list-style: none;
}

.channels-mosaic {
    max-width: 960px;
    overflow: auto;

    margin: 0 auto;
    padding: 0;
}

.channel-box {
    display: inline-block;
    border: 3px solid #ccc;
    background-color: #eee;
    margin: 10px;
    padding: 0;
    text-align: center;

    width: 208px;
    height: 0;
    padding-bottom: 208px;

    float: left;

    position: relative;
}


.channel-box:hover {
    border-color: orange;
}

.channel-box span {
    position: absolute;
    bottom: 0.5em;
    left: 0;

    width: 100%;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.9em;
}

.channel-box .channel-image {
    display: inline-block;
    width: 80%;
    margin-left: 0;
    margin-right: auto;
}

.channel-info {
    overflow: auto;
}

.floating-menu {
    position: absolute;
    background: #555;
    padding: 0.5em;
    border-radius: 3px;
}

.floating-menu > ul {
    list-style: none;
    padding: 0.5em;
}


.collapsible-button {
    display: inline-block;
}

.collapsible-area {
    display: block;
}