extends layout

block content
    each channel, i in channels
        li 
            a.channel-link(href='/channel/' + channel.id)=channel.title
            ul
                each episode, j in channel.episodes
                    li=episode.title