extends layout

include mixins/episodeBox.jade

block content
    h2=channel.title
    div
        h3="Episodes"
        ul
            each episode, j in channel.episodes
                li.episode-container
                    +episodeBox(episode)
        a.see-more(href='/channel/' + channel.id + '/episodes')="See more"