extends layout

include mixins/episodeBox.jade
include mixins/channelImage.jade

block content
    .channel
        h2=channel.title
        +channelImage(channel, 'main')
        h3="Episodes"
        ul
            each episode, j in channel.episodes
                li.episode-container
                    +episodeBox(episode)
        a.see-more(href='/channel/' + channel.id + '/episodes')="See more"