div.header
    h1.logo
        a(href='/')= "It's podcasts"
    ul.menu
        li
            std-button.btn-flush(href="/all")
                ="All content"
        li
            std-button.btn-flush(href="/channels")
                ="Channels"