div.header
    h1.logo
        a(href='/')= "It's podcasts"
    ul.menu
        li
            a(href="/all")
                h4="All content"
            a(href="/channels")
                h4="Channels"