extends layout

include mixins/episodeBox.jade
include mixins/channelImage.jade

block content
    ul.episodes-list
        each episode, i in episodes
            li.episode-container
                +channelImage(episode.channel, 'small')
                +episodeBox(episode)