doctype html
html
  head
    title= "It's podcasts"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/')
        h1= "It's podcasts"
    a(href="/all")
        h4="All content"
    block content