doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/')
        h1= title
    a(href="/all")
        h4="All content"
    block content