.applied-filters
    a.btn(ng-click='ctrl.clearFilters()', ng-show='ctrl.filtersApplied()') Remove all filters
    ul
         li(ng-repeat='filter in ctrl.filters.currentFilters()')
            remove-filter-link(filter='filter')