.channel-info
   .channel-image(class='small', ng-show='::ctrl.getChannelImageURL(channel)')
      img(ng-src='{{::ctrl.getChannelImageURL(channel)}}')
   h3.channel-title
      a.channel-link(href='/channel/{{::ctrl.channel._id}}') {{::ctrl.channel.title}}
   p.explicit(ng-if='::ctrl.channel.explicit') Explicit Content
   p {{::ctrl.channel.description}}
