ul.episodes-list
   li.episode-container(ng-repeat='episode in ctrl.episodes | filter:ctrl.episodesFilter')
      .channel-image(class='small', ng-show='::ctrl.getChannelImageURL(episode.channel)')
         img(ng-src='{{::ctrl.getChannelImageURL(episode.channel)}}')
      h3
         a.link(href='/episode/{{::episode._id}}') {{::episode.title}}
      h4.channel-title
         a.channel-link(href='/channel/{{::episode.channel._id}}') {{::episode.channel.title}}
      p.date {{::ctrl.formatDate(episode.pubDate)}}
      a.link(href='{{::episode.link}}') {{::ctrl.truncateLink(episode.link, 75)}}
      p.description  {{::episode.description}}
      filters-button(episode='::episode')
      channel-info(channel='episode.channel')
      episode-info(episode='episode')