.episode-info
   h3
      a.link(href='/episode/{{::ctrl.episode.episode._id}}') {{::ctrl.episode.episode.title}}
   p.explicit(ng-if='::ctrl.episode.explicit') Explicit Content
   p {{::ctrl.episode.description}}
   p Duration: {{::ctrl.formatDuration(ctrl.episode.duration)}}