ul
   li
      a.filter-link(ng-click='ctrl.addFilter(episode.channel.title, ctrl.filterByChannel)') Just this channel
   li
      a.filter-link(ng-click='ctrl.addFilter(episode.pubDate, ctrl.filterByDate)') Just this day