.filters-button
   collapsible(area-class='floating-menu')
      ul
         li
            std-button.filter-link(ng-click='ctrl.addFilter(episode.channel.title, ctrl.filterByChannel)') Just this channel
         li
            std-button.filter-link(ng-click='ctrl.addFilter(episode.pubDate, ctrl.filterByDate)') Just this day